:root {
    --fundo: black;
}
.jacquard-12-regular {
    font-family: "Jacquard 12", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

.entrada {
    background-image: url("FUNDO.png");
}

.barrainicial {
    width: 50%;
}

body {
    background-color: black;
    

}
.main img {
    
}

.main h1 {
    color: white;
    font-size: xxx-large;

}
