:root {
    --fundo: black;
}

.entrada {
    background-image: url("FUNDO.png");
}

.barrainicial {
    width: 50%;
}

body {
    background-color: black;
}
.main img {
    
}

.main h1 {
    color: white;
    font-size: xxx-large;

}